<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Albuminfo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/cars.js"></script>
</head>

<body>
<div class="page-header">
    <div class="input-group">
        <input type="text" class="form-control" id="car" placeholder="Search for cars">
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" onclick="searchCar()">Search</button>
      </span>
    </div>
</div>

<div id="locationInfo" class="controls form-inline">

</div>

<div class="container-fluid">


    <div class="row" id="row">
        test
    </div>
</div>
</body>

</html>